<div class="tab-frame margin-after">
	<!------------------------ Transformations  ------------------------------------->
	<h4 class="frame-title">{{msg('pentaho.transformations.title')}}</h4>

	<form id="pentahoTransformationsForm" name="pentahotransformationsForm"
		class="form-horizontal" novalidate>
		<div class="control-group"
			ng-class="{'error': !transformation.transName}">
			<label class="control-label" for="transName">{{msg('pentaho.transformations.transName')}}:</label>

			<div class="controls">
				<input ng-model="transformation.transName" type="text"
					id="transName" required /> <span
					ng-hide="transformation.transName" class="form-hint">{{msg('pentaho.field.required',
					msg('pentaho.transformations.transName'))}}</span>
			</div>

			<label class="control-label" for="cronExpression">{{msg('pentaho.transformations.cron')}}:</label>

			<div class="controls">
				<input ng-model="transformation.cronExpression" type="text"
					id="cronExpression" required /> <span
					ng-hide="transformation.cronExpression" class="form-hint">{{msg('pentaho.field.required',
					msg('pentaho.transformations.cronExpression'))}}</span>
			</div>
		</div>

		<div ng-repeat="param in transformation.params">
			<label class="control-label" for="paramName">{{msg('pentaho.transformations.param.name')}}:</label>

			<div class="controls">
				<input ng-model="param.paramName" type="text" id="paramName"
					required /> <span ng-hide="param.paramName" class="form-hint">{{msg('pentaho.field.required',
					msg('pentaho.transformations.param.name'))}}</span>
			</div>

			<label class="control-label" for="paramType">{{msg('pentaho.transformations.param.type')}}:</label>

			<div class="controls">
				<input ng-model="param.type" type="text" id="paramType" required />
				<span ng-hide="param.type" class="form-hint">{{msg('pentaho.field.required',
					msg('pentaho.transformations.param.type'))}}</span>
			</div>

			<label class="control-label" for="paramValue">{{msg('pentaho.transformations.param.value')}}:</label>

			<div class="controls">
				<input ng-model="param.value" type="text" id="paramValue" />
			</div>

			<div class="control-group">
				<div class="controls">
					<label class="" for="appendFieldValue"> <input
						ng-model="param.appendFieldValue" type="checkbox"
						id="paramAppendFieldValue" ng-true-value="true"
						ng-false-value="false" />
						{{msg('pentaho.transformations.param.appendFieldValue')}} </label>
				</div>
			</div>

		</div>
		<div class="controls">
			<input ng-disabled="pentahoTransformationsForm.$invalid"
				ng-click="submit()" type="button"
				value="{{msg('pentaho.transformations.submit')}}"
				class="btn btn-primary" />
		</div>
	</form>
</div>
