<div class="tab-frame margin-after">
	<!------------------------ Transformations  ------------------------------------->
	<h4 class="frame-title">{{msg('pentaho.transformations.title')}}</h4>

	<fieldset>
		<div ng-repeat="transformation in transformations">
			<form id="pentahoTransformationsForm"
				name="pentahotransformationsForm" class="form-horizontal" novalidate>
				<div class="control-group"
					ng-class="{'error': !transformation.transName}">
					<label class="control-label" for="transName">{{msg('pentaho.transformations.transName')}}:</label>

					<div class="controls">
						<input ng-model="transformation.transName" type="text"
							id="transName" required /> <span
							ng-hide="transformation.transName" class="form-hint">{{msg('pentaho.field.required',
							msg('pentaho.transformations.transName'))}}</span>
					</div>

					<label class="control-label" for="minuteOfHour">{{msg('pentaho.transformations.minuteOfHour')}}:</label>

					<div class="controls">
						<input ng-model="transformation.minuteOfHour" type="text"
							id="minuteOfHour" required /> <span
							ng-hide="transformation.minuteOfHour" class="form-hint">{{msg('pentaho.field.required',
							msg('pentaho.transformations.minuteOfHour'))}}</span>
					</div>

					<label class="control-label" for="hourOfDay">{{msg('pentaho.transformations.hourOfDay')}}:</label>

					<div class="controls">
						<input ng-model="transformation.hourOfDay" type="text"
							id="hourOfDay" required /> <span
							ng-hide="transformation.hourOfDay" class="form-hint">{{msg('pentaho.field.required',
							msg('pentaho.transformations.hourOfDay'))}}</span>
					</div>

					<label class="control-label" for="dayOfWeek">{{msg('pentaho.transformations.dayOfWeek')}}:</label>

					<div class="controls">
						<input ng-model="transformation.dayOfWeek" type="text"
							id="dayOfWeek" required /> <span
							ng-hide="transformation.dayOfWeek" class="form-hint">{{msg('pentaho.field.required',
							msg('pentaho.transformations.dayOfWeek'))}}</span>
					</div>

					<label class="control-label" for="dayOfMonth">{{msg('pentaho.transformations.dayOfMonth')}}:</label>

					<div class="controls">
						<input ng-model="transformation.dayOfMonth" type="text"
							id="dayOfMonth" required /> <span
							ng-hide="transformation.dayOfMonth" class="form-hint">{{msg('pentaho.field.required',
							msg('pentaho.transformations.dayOfMonth'))}}</span>
					</div>
				</div>

				<div ng-repeat="param in transformation.params">
					<label class="control-label" for="paramName">{{msg('pentaho.transformations.param.name')}}:</label>

					<div class="controls">
						<input ng-model="param.paramName" type="text" id="paramName"
							required /> <span ng-hide="param.paramName" class="form-hint">{{msg('pentaho.field.required',
							msg('pentaho.transformations.param.name'))}}</span>
					</div>

					<label class="control-label" for="paramType">{{msg('pentaho.transformations.param.type')}}:</label>

					<div class="controls">
						<input ng-model="param.type" type="text" id="paramType" required />
						<span ng-hide="param.type" class="form-hint">{{msg('pentaho.field.required',
							msg('pentaho.transformations.param.type'))}}</span>
					</div>

					<label class="control-label" for="paramValue">{{msg('pentaho.transformations.param.value')}}:</label>

					<div class="controls">
						<input ng-model="param.value" type="text" id="paramValue" />
					</div>

					<label class="control-label" for="appendValue">{{msg('pentaho.transformations.param.appendValue')}}:</label>

					<div class="controls">
						<input ng-model="param.appendValue" type="text" id="appendValue" />
					</div>


					<label class="control-label" for="timeOffset">{{msg('pentaho.transformations.param.timeOffset')}}:</label>

					<div class="controls">
						<input ng-model="param.timeOffset" type="text" id="timeOffset" />
					</div>

					<div class="control-group">
						<div class="controls">
							<label class="" for="paramAppendFieldValue"> <input
								ng-model="param.appendFieldValue" type="checkbox"
								id="paramAppendFieldValue" ng-true-value="true"
								ng-false-value="false" />
								{{msg('pentaho.transformations.param.appendFieldValue')}} </label>
						</div>
					</div>
					
					<div class="control-group">
						<div class="controls">
							<label class="" for="paramAppendDate"> <input
								ng-model="param.appendDate" type="checkbox"
								id="paramAppendDate" ng-true-value="true"
								ng-false-value="false" />
								{{msg('pentaho.transformations.param.appendDate')}} </label>
						</div>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<input ng-disabled="pentahoTransformationsForm.$invalid"
							ng-click="submit(transformation)" type="button"
							value="{{msg('pentaho.transformations.submit')}}"
							class="btn btn-primary" />
					</div>
					<div class="controls">
						<input ng-click="removeTrans(transformation)" type="button"
							value="{{msg('pentaho.transformations.delete')}}"
							class="btn btn-primary" />
					</div>
				</div>
			</form>
		</div>
</div>
</fieldset>
</div>
